ProjectHoshimiAASM.v11.suo
AASMAPlayer/bin/Debug/AASMAHoshimi.dll
AASMAPlayer/bin/Debug/AASMAHoshimi.pdb
AASMAPlayer/obj/Debug/AASMAHoshimi.csproj.FileListAbsolute.txt
AASMAPlayer/obj/Debug/AASMAHoshimi.csprojResolveAssemblyReference.cache
AASMAPlayer/obj/Debug/AASMAHoshimi.dll
AASMAPlayer/obj/Debug/AASMAHoshimi.pdb